*{
	margin: 0;
}
input{
	background-color: transparent;
	width: 614px;
	height: 45px;
	font-size: 25px;
	font-family:Poppins;
	border: none;
	border-bottom: 2px solid white;
	color: white;
	outline: none;
}
.e15_21 { 
	overflow:hidden;
	background-color:rgba(39.00000147521496, 38.0000015348196, 44.000001177191734, 1);
	width:1728px;
	height:1117px;
	position:absolute;
}

.e15_22 { 
	border:2px solid rgba(255, 255, 255, 1);
	width:614px;
	height:0px;
	position:absolute;
	left:557px;
	top:332px;
}

.e15_23 { 
	border:2px solid rgba(255, 255, 255, 1);
	width:614px;
	height:0px;
	position:absolute;
	left:557px;
	top:443px;
}
.e15_24 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:239px;
	height:46px;
	position:absolute;
	left:557px;
	top:286px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e15_25 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:206px;
	height:34px;
	position:absolute;
	left:557px;
	top:399px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}

.e15_26 { 
	border:2px solid rgba(255, 255, 255, 1);
	width:614px;
	height:0px;
	position:absolute;
	left:557px;
	top:549px;
}
.e15_27 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:320px;
	height:33px;
	position:absolute;
	left:557px;
	top:504px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}

.e15_28 { 
	border:2px solid rgba(255, 255, 255, 1);
	width:614px;
	height:0px;
	position:absolute;
	left:557px;
	top:654px;
}
.e15_29 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:320px;
	height:33px;
	position:absolute;
	left:557px;
	top:609px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e15_30 { 
	background-color:rgba(64.00000378489494, 68.00000354647636, 237.0000010728836, 1);
	width:614px;
	height:55px;
	position:absolute;
	left:557px;
	top:747px;
}
.e15_31 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:36px;
	position:absolute;
	left:239px;
	top:10px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e15_32 { 
	width:708px;
	height:704px;
	position:absolute;
	left:1120px;
	top:551px;
	background-image:url(../images/87baac69050e47e655df8e2e4663673b_icono_de_edificios_de_barras_azules_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e15_33 { 
	width:493px;
	height:182px;
	position:absolute;
	left:89px;
	top:72px;
}
.e15_34 { 
	color:rgba(255, 255, 255, 1);
	width:284.1016845703125px;
	height:129.8181915283203px;
	position:absolute;
	left:208.89834594726562px;
	top:26.090896606445312px;
	font-family:Poppins;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e15_35 { 
	width:183.83050537109375px;
	height:182px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../images/markus_spiske_5zagbudujeu_unsplash_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e15_36 { 
	color:rgba(255, 255, 255, 1);
	width:876px;
	height:106px;
	position:absolute;
	left:796px;
	top:96px;
	font-family:Poppins;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}
