
.e14_13 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	width:1255px;
	height:431px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	position:absolute;
}
.e14_14 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(88.81651774048805, 255, 85.42502492666245, 1);
	width:170px;
	height:70px;
	position:absolute;
	left:142px;
	top:242px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e14_15 { 
	color:rgba(39.00000147521496, 38.0000015348196, 44.000001177191734, 1);
	width:170px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e14_16 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(242.24999696016312, 136.66939437389374, 225.3571218252182, 1);
	width:395px;
	height:70px;
	position:absolute;
	left:438px;
	top:238px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e14_17 { 
	color:rgba(39.00000147521496, 38.0000015348196, 44.000001177191734, 1);
	width:395px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e14_18 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(239.0625, 52.19533681869507, 52.19533681869507, 1);
	width:180px;
	height:70px;
	position:absolute;
	left:959px;
	top:242px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e14_19 { 
	color:rgba(39.00000147521496, 38.0000015348196, 44.000001177191734, 1);
	width:180px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e14_20 { 
	color:rgba(39.00000147521496, 38.0000015348196, 44.000001177191734, 1);
	width:361px;
	height:108px;
	position:absolute;
	left:447px;
	top:76px;
	font-family:Poppins;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}
