*{
	margin:0;
}
.e1_6 { 
	background-color:rgba(39.00000147521496, 38.0000015348196, 44.000001177191734, 1);
	width:1728px;
	height:1117px;
	position:absolute;
	overflow:hidden;
}
.e1_7 { 
	transform: rotate(129.99999912293276deg);
	background-color:rgba(64.00000378489494, 68.00000354647636, 237.0000010728836, 0.5);
	width:336.4713134765625px;
	height:336.4713134765625px;
	position:absolute;
	left:281.0316162109375px;
	top:50.27960205078125px;
}
.e1_8 { 
	transform: rotate(129.99999912293276deg);
	background-color:rgba(64.00000378489494, 68.00000354647636, 237.0000010728836, 0.5);
	width:336.4713134765625px;
	height:336.4713134765625px;
	position:absolute;
	left:386.1683349609375px;
	top:144.34677124023438px;
}
.e1_9 { 
	transform: rotate(129.99999912293276deg);
	background-color:rgba(64.00000378489494, 68.00000354647636, 237.0000010728836, 0.5);
	width:336.4713134765625px;
	height:336.4713134765625px;
	position:absolute;
	left:495.2686767578125px;
	top:237.1722412109375px;
}
/*.e1_10 { 
	border:2px solid rgba(255, 255, 255, 1);
	width:614px;
	height:0px;
	position:absolute;
	left:557px;
	top:588px;
}*/
/*.e1_11 { 
	border:2px solid rgba(255, 255, 255, 1);
	width:614px;
	height:0px;
	position:absolute;
	left:557px;
	top:701px;
}*/
.e1_12 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:138px;
	height:34px;
	position:absolute;
	left:557px;
	top:542px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_12 input{
	background-color: transparent;
	width: 614px;
	height: 45px;
	font-size: 25px;
	font-family:Poppins;
	border: none;
	border-bottom: 2px solid white;
	color: white;
	outline: none;
}
.e1_13 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:206px;
	height:34px;
	position:absolute;
	left:557px;
	top:657px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_13 input{
	background-color: transparent;
	width: 614px;
	height: 45px;
	font-size: 25px;
	font-family:Poppins;
	border: none;
	border-bottom: 2px solid white;
	color: white;
	outline: none;
}
.e1_14 { 
	color:rgba(255, 255, 255, 1);
	width:442px;
	height:204px;
	position:absolute;
	left:802px;
	top:221px;
	font-family:Poppins;
	text-align:left;
	font-size:65px;
	letter-spacing:0;
}
.e1_15 { 
	background-color:rgba(64.00000378489494, 68.00000354647636, 237.0000010728836, 1);
	width:614px;
	height:55px;
	position:absolute;
	left:557px;
	top:747px;
}
.e1_16 { 
	color:rgba(255, 255, 255, 1);
	width:161px;
	height:36px;
	position:absolute;
	left:239px;
	top:10px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_17 { 
	width:286px;
	height:286px;
	position:absolute;
	left:477px;
	top:180px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../images/markus_spiske_5zagbudujeu_unsplash_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_18 { 
	border:1px solid rgba(255, 255, 255, 1);
	width:305.0147399902344px;
	height:0px;
	position:absolute;
	left:558.99267578125px;
	top:855.5px;
}
.e1_19 { 
	width:708px;
	height:704px;
	position:absolute;
	left:1120px;
	top:551px;
	background-image:url(../images/87baac69050e47e655df8e2e4663673b_icono_de_edificios_de_barras_azules_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_20 { 
	width:379px;
	height:29px;
	position:absolute;
	left:557px;
	top:827px;
}
.e1_21 { 
	color:rgba(255, 255, 255, 1);
	width:379px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_22 { 
	width:379px;
	height:29.008695602416992px;
	position:absolute;
	left:557px;
	top:874px;
}
.e1_23 { 
	border:1px solid rgba(255, 255, 255, 1);
	transform: rotate(0.12454739375144012deg);
	width:119.0080795288086px;
	height:0px;
	position:absolute;
	left:1.9921875px;
	top:28.75px;
}
.e1_24 { 
	color:rgba(255, 255, 255, 1);
	width:379px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
